.row {
    grid-template-columns: 14% 14% 28% 10% 12.8% 10% 8.2%;
}

.col:nth-child(2) {
    color: var(--color-black);
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.col:nth-child(3) {
    color: var(--color-black);
    font-size: 12px;
    font-weight: 400;
    display: flex;
    gap: 8px;
    align-items: center;
}

.col:nth-child(3) svg {
    flex: 0 0 10px;
}

.col__address {
    display: flex;
    flex-direction: column;
}

.col:nth-child(4) {
    font-size: 12px;
    font-weight: 400;
    opacity: .6;
}

.col__addressName,
.col__nameName,
.col__addressDesc {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.col__nameName {
    -webkit-line-clamp: 2;
}

.col__addressDesc {
    -webkit-line-clamp: 4;
}

.col:nth-child(6) {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    padding-right: 8px;
}

.col__raiting {
    width: 100%;
    height: 8px;
    border-radius: 16px;
    background-color: #D4E0FA;
    position: relative;
    --width-raiting: 5;
}

.col__raiting::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    width: calc(var(--width-raiting) * 20%);
    border-radius: 16px;
    background: var(--icon-active);
}

.col__raitingError {
    background-color: #FFD6D2;
}

.col__raitingError::after {
    background-color: #D93325;
}

.col__raitingWait {
    background-color: #FEEBD3;
}

.col__raitingWait::after {
    background-color: #F0AB55;
}