@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.os-scrollbar {
  --os-track-bg: #D4E0FA73;
  --os-handle-bg: #3977F1;
  --os-handle-bg-active: #7D7D7D;
  --os-handle-bg-hover: #7D7D7D;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

button {
  font-family: inherit;
}

:root {
  --bg: #F8F8F8;
  --bg-block: #fff;
  --color-title: #131313;
  --color-black: #000;
  --color: #7D7D7D;
  --color-help: #C0C0C0;
  --icon-active: #3977F1;
  --icon-disable: #7D7D7D;
  --icon-bg: #EEEEEE;
  --os-scrollbar-handle: red;
  --os-track-bg: red;
  --color-error: #D93325;

  font-family: Rubik, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --scrollbar-track-color: #D4E0FA;
  --scrollbar-color: #3977F1;
  --scrollbar-width: 2px;

  --scrollbar-size: .375rem;
  --scrollbar-minlength: 1.5rem;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
  transition: .3s;
}

.btn__table {
  color: var(--icon-active);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  padding: 6px 12px;
  border-radius: 16px;
  border: 1px solid var(--icon-active);
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: .3s;
  position: relative;
  z-index: 99;

}

.btn__table:hover,
.btn__table:active {
  color: #FFF;
  background: var(--icon-active);

}

.btn__head {
  padding: 8px 16px;
  color: var(--color);
  font-size: 20px;
  font-weight: 300;
  box-shadow: 1px 1px 2px 0px rgba(186, 186, 186, 0.40);
  border-radius: 8px;
  background: var(--bg-block);
  border: 1px solid var(--bg-block);
  cursor: pointer;
}

.btn__active {
  color: var(--bg-block);
  background: var(--icon-active);
  border-color: #D4E0FA;
}

.btn__error {
  color: var(--color-error);
  border-color: var(--color-error);
  background: transparent
}

.btn__error:active,
.btn__error:hover {
  background: var(--color-error);
  color: #fff
}


.scroll__elem {
  overflow: auto;
  scrollbar-width: var(--scrollbar-width);
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}

.scroll__elem::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);

}

.scroll__elem::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: 8px;
}

.scroll__elem::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 8px;
  /* Если нужно - добавьте :hover и:active */
}

.scroll__elem::-webkit-scrollbar-thumb:vertical {
  min-height: var(--scrollbar-minlength);
}

.scroll__elem::-webkit-scrollbar-thumb:horizontal {
  min-width: var(--scrollbar-minlength);
}

.scroll__elem.row:not(:last-child) {
  margin-bottom: 8px;
}

@supports (scrollbar-width: auto) {
  .scroll__elem {
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
    scrollbar-width: var(--scrollbar-width);
  }
}


.label__check {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  user-select: none;

}

.label__check span {
  color: #000;
  cursor: pointer;
}

.label__check input[type="checkbox"] {
  cursor: pointer;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: rgba(54, 54, 55, 0.50);
  ;
  flex-basis: 30px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(54, 54, 55, 0.50);
  ;
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}

input[type="checkbox"]:checked {
  background: var(--icon-active);
}

input[type="checkbox"]:checked::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  background: rgba(54, 54, 55, 0.10);
  border: 3px solid rgba(54, 54, 55, 0.2);
  cursor: default;
}

input[type="checkbox"]:checked:disabled::before {
  box-shadow: inset 1em 1em black;
  opacity: .3;
}

input[type="checkbox"]:disabled~span {
  color: rgba(54, 54, 55, 0.50);
  cursor: default;
}